@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card mx-auto" style="width: 30rem; margin-top: 10% !important;">
  <div class="card-body">
        <h5 class="card-title"><i class="bi bi-github"></i> About this page</h5>
    <p class="card-text">This page was made as an assignment to University of Informatics (IT) department. Below are the links to Github pages of the creators.</p>
        <a href="https://github.com/mataktelis11" class="card-link">mataktelis11</a>
        <a href="https://github.com/basilisgiata" class="card-link">basilisgiata</a>
  </div>
</div>