@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Latest News</h2>

<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col">
    <div class="card text-white bg-info mb-3">
        <h5 class="card-header">Catalysts Coding Contest 27.04.2018</h5>
        <div class="card-body">              
            <p class="card-text">Whether it is Java, .NET, JavaScript, Smalltalk, MATLAB, Excel etc.  - with us, everything is allowed, the target (an exercise organized on 7 levels) is given, the path (any programming language you…</p>
        </div>
    </div>
  </div>



    <div class="col">
    <div class="card text-white bg-info mb-3">
            <h5 class="card-header">Explore all research areas</h5>
        <div class="card-body">
                <p class="card-text">Our boundary-pushing research is often highly interdisciplinary, but it can be roughly broken down into some useful areas of inquiry.</p>
        </div>
    </div>
  </div>

    <div class="col">
    <div class="card text-white bg-info mb-3">
            <h5 class="card-header">AI for Healthcare and Life Sciences</h5>
        <div class="card-body">
                <p class="card-text">Our goal is to develop AI technologies that will change the landscape of healthcare. This includes early diagnostics, drug discovery, care personalization and management. Building on MIT’s pioneering history in artificial intelligence and life sciences, we are working on algorithms suitable for modeling biological and clinical data across a range of modalities including imaging, text and genomics.</p>
        </div>
    </div>
  </div>

    <div class="col">
    <div class="card text-white bg-info mb-3">
            <h5 class="card-header">Communications Systems</h5>
        <div class="card-body">
                <p class="card-text">We develop the next generation of wired and wireless communications systems, from new physical principles (e.g., light, terahertz waves) to coding and information theory, and everything in between.</p>
        </div>
    </div>
  </div>



</div>