@{
    //ViewData["nonexistingStudents"] = nonexistingStudents;
    //ViewData["invalidStudents"] = invalidStudents;
    //ViewData["CourseId"] = CourseId;

    var nonexistingStudents = ViewData["nonexistingStudents"] as List<string>;
    var invalidStudents = ViewData["invalidStudents"] as List<string>;
    var invalidGrades = ViewData["invalidGrades"] as List<string>;
    var courseId = (int)ViewData["CourseId"];
}

<br />

<h3> One or more lines in your .csv where incorrect and were ignored.</h3>

<hr />

<div class="row row-cols-1 row-cols-md-1 g-4">

    @if (invalidStudents.Count > 0)
    {
          <div class="col">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header"><i class="bi bi-exclamation-circle-fill"></i> &nbsp; The following students already have a grade:</div>
                    <div class="card-body">
                        @foreach (string s in @invalidStudents)
                        {
                            <p class="card-text">@s</p>
                        }

                </div>
            </div>
          </div>
    }

    @if (nonexistingStudents.Count > 0)
    {
        <div class="col">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header"><i class="bi bi-dash-circle-fill"></i> &nbsp; The following students do not exist:</div>
                <div class="card-body">
                    @foreach (string s in @nonexistingStudents)
                    {
                        <p class="card-text">@s</p>
                    }
                </div>
            </div>
        </div>
    }

    @if (invalidGrades.Count > 0)
    {
        <div class="col">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header"><i class="bi bi-dash-circle-fill"></i> &nbsp; The following students received an invalid grade:</div>
                <div class="card-body">

                    @foreach (string s in @invalidGrades)
                    {
                            <p class="card-text">@s</p>
                    }
                </div>
            </div>
        </div>
    }


</div>


<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("RegisteredStudents", "Professors",  new RouteValueDictionary(new { id=courseId}))'">
    <i class="bi bi-backspace-fill"></i> Go back
</button>

