@model UniversityApp.Models.Student


@{
    ViewData["Title"] = "Total";
}

<br />

<div class="row">
    <h1 class="display-5 text-center">My Total grades</h1>
</div>

<br />

<p class="text-center">Here you can see a brief presentation of your overall grades and performance in your Courses.</p>

<hr />

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
            <div class="card-header">Registered Courses</div>
            <div class="card-body">
                <h3 class="card-title">@ViewData["reglessons"]</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
            <div class="card-header">Passed Courses</div>
            <div class="card-body">
                <h3 class="card-title">@ViewData["passedlessons"]</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-success mb-3" style="max-width: 40rem;">
            <div class="card-header">Total E.C.T.s</div>
            <div class="card-body">
                <h3 class="card-title">@ViewData["ects"]</h3>
                <p class="card-text">You get 5 E.C.T.s for each Course that you have passed.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-success mb-3" style="max-width: 40rem;">
            <div class="card-header">Αverage grade</div>
            <div class="card-body">
                <h3 class="card-title">@ViewData["average"]</h3>
                <p class="card-text">This is only calculated based on the Courses which you have passed.</p>
            </div>
        </div>
    </div>
</div>
